:root {
    --primary-color: rgb(250, 234, 226);
    --secondary-color: rgb(29, 17, 17); 
    --border-color: rgb(240, 126, 69);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
    color: var(--secondary-color);
}

/* Header Section */

header {
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* header img {
    display: absolute;
} */

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
    color: var(--primary-color);

}
/* header/ navbar styles end */

/* hero styles */

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/black-and-orange.jpg');
    background-size: cover;
    background-position: center;
}

/* .hero img{
    margin-right: 0px;
} */
.hero-cta {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--primary-color);
}
.hero img{
    margin-right: 120px;
    margin-top: 20px;
    border-radius: 15px;
}

.hero h2 {
   float: right;
   background-color: var(--secondary-color);
   font-size: 30px;
   margin: 10px 20px 0 0;
   padding: 10px;
   border-radius: 15px;
}

section h2 {
    float: left;
    padding: 50px;
    font-size: 30px;
    text-align: center;
}
/* end of hero styles */

/* About me */


.about-me {
    margin: 20px;
    align-items: center;
}


/* end of about me */

/* Work section */

.projects {
    margin: 20px;
}




 .project {
    width: 500px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid var(--border-color;);
    border-radius: 15px;

 }

.project-layer {
    background-color: rgb(29, 17, 17, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.project-layer:hover {
    background-color: rgb(29, 17, 17, .0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project a {
     display: block;
     position: relative;
     height: 100%;
 }

 .project-text {
     position: absolute;
     bottom: 10%;
     color: var(--primary-color);
     background-color: var(--secondary-color);
     padding: 8px;
     border-radius: 0 15px 15px 0;
 }

 .project-01 {
     background-image: url("../images/run-buddy.jpg");
     background-position: right;
     width: 1000px;
     height: 400px;
 }

 .project-02 {
    background-image: url(../images/horiseon-marketing.PNG);
 }

 .project-03 {
    background-image: url(../images/application-3.jpg); 
}

.project-04 {
    background-image: url(../images/application-4.jpg); 
}

.project-05 {
    background-image: url(../images/application-5.jpg);  
}

.project h3 {
    background-color: var(--secondary-color);
    color: var(--primary-color);

}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 20px;
}


/* end of work section */

/* contact info */


.contact-me h3 {
    margin: 20px;
    text-decoration: underline;
   
}

.contact-me a:link {
    color: var(--secondary-color);
}

.contact-me a:visited {
    color: var(--secondary-color);
}

.column-layout {
    display: flex;
    justify-content: space-evenly;

}

.header-column {
    border-right: 4px solid var(--border-color);
    display: flex;
   
}
.content-column{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    
}
.contact-me-container {
    display: flex;
    
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
    .hero-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 25px;
    }

    .hero img,
    .hero h2 {
        margin-right: 0;
    }

    .content-column {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .column-layout {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .header-column {
        
        border-right: none;
        justify-content: center;
    }

    .project-01 {
        width: 500px;
        height: 200px; 
    }
  .about-me h2,
  .projects h2,
  .contact-me h2 {
    border-bottom: 4px solid var(--border-color);
  }

  .contact-me-container {
      justify-content: center;
  }

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .project {
        width: 200px;
        height: 200px;
}
    .contact-me-container {
       display: flex;
       flex-direction: column;
   }
  }
  