:root {
    --primary-color: rgb(250, 234, 226);
    --secondary-color: rgb(29, 17, 17); 
    --border-color: rgb(240, 126, 69);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
    color: var(--secondary-color);
}

